[project]
	description = Apache module for flickr access.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Venky Shankar (vshankar)
[access "refs/for/refs/*"]
	read = group user/Venky Shankar (vshankar)
	push = group user/Venky Shankar (vshankar)
	label-Code-Review = -2..+2 group user/Venky Shankar (vshankar)
	label-Verified = -1..+1 group user/Venky Shankar (vshankar)
	rebase = group user/Venky Shankar (vshankar)
	removeReviewer = group user/Venky Shankar (vshankar)
	submit = group user/Venky Shankar (vshankar)
[access "refs/heads/*"]
	read = group user/Venky Shankar (vshankar)
	create = group user/Venky Shankar (vshankar)
	push = +force group user/Venky Shankar (vshankar)
	pushMerge = group user/Venky Shankar (vshankar)
[access "refs/tags/*"]
	push = +force group user/Venky Shankar (vshankar)
	pushTag = group user/Venky Shankar (vshankar)
	pushSignedTag = group user/Venky Shankar (vshankar)
